<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>

	<contextName>fields-demo</contextName>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%logger{0}: %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.parknav" additivity="false" level="DEBUG">
		<appender-ref ref="STDOUT"/>
	</logger>

	<root level="WARN">
		<appender-ref ref="STDOUT"/>
	</root>

</configuration>
